<div class="-container">
  <div class="-frame">
    <div class="-row">
      <div class="-book">
        <h2>Thank you very much for your renting!!</h2><br>
        <img src="check.jpg" height="100" width="100">
      </div>
    </div>
  </div>
</div>
