<!-- Hero / Banner section -->
<div class="banner">
  <div class="container">
    <h1>Flattering Attires </br> for all ocassions</h1>
    <p><a class="btn-cta" href="#">Rent now</a></p>
  </div>
</div>

<!-- Dresses section -->
<div class="container">
  <div class ="sub-title">
    <h2>New Arrivals</h2>

<div class="container">
  <div class="row">
<% @dresses.each do |dress| %>
<div class="col col-sm-1 col-md-2 col-lg-4">

<div class="card" style="width: 18rem;">
  <%= image_tag dress.photo.url, alt: dress.name, :class => "card-dress" %>
  <div class="card-body">
    <h5 class="card-title"><%= dress.name %></h5>
    <p class="card-text"><%= dress.price %>€</p>
</div>
</div>
</div>
  <% end %>


  </div>
</div>
  </div>
</div>
