<!-- /navbar -->

<div class="container">
  <div class="row">
    <div class="col-sm">
      <%= image_tag "logo.png", alt: "Logo", width: 160 %>
    </div>
    <div class="col-sm">
      <a class="btn-ghost" href="#">Publish a dress</a>
    </div>
    <div class="col-sm">
      <a class="btn-ghost" href="#">Sign-up | Log-in</a>
    </div>
  </div>
</div>

<!-- Hero / Banner section -->
<div class="banner">
  <div class="container">
    <h1>Flattering Attires </br> for all ocassions</h1>
    <p><a class="btn-cta" href="#">Rent now</a></p>
  </div>
</div>

<!-- Dresses section -->
<div class="container">
  <div class ="sub-title">
    <h2>New Arrivals</h2>
  </div>
</div>
=
