<!-- /navbar -->
  <div class="border-bottom bg-white">
      <div class="navbar d-flex align-items-center justify-content-between py-2">
        <%= image_tag "logo.png", alt: "Ethnic Attire", width: 200 %>
        <a class="btn-ghost" href="#">Sign-up | Log-in</a>
      </div>
  </div>

  <!-- Hero / Banner section -->
  <div class="banner">
    <div class="container">
      <h1>Flattering Attires </br> for all ocassions</h1>
      <a class="btn-cta" href="#">Rent now</a>
    </div>
  </div>
