<!-- /navbar -->

<!-- Hero / Banner section -->
<div class="banner">
  <div class="container">
    <h1>Flattering Attires </br> for all ocassions</h1>
    <p><a class="btn-cta" href="#">Rent now</a></p>
  </div>
</div>

<!-- Dresses section -->
<div class="container">
  <div class ="sub-title">
    <h2>New Arrivals</h2>
  </div>
</div>
=
