.-container {
  margin: 0 auto;
  width: 85vw;
}
.-frame {
  display: flex;
  margin-top: 2em;
}
.-row {
  width: 100%;
  padding-top: 2.5em;
  padding-left: 2em;
}
.-book {
  display: flex;
  align-items: center;
  span {
    margin-left: 2em;
  }
}
.product-img {
  position: relative;
  width: 450px;
  height: 70vh;
  background-repeat: none;
  background-size: cover;
  background-position: center;
  border-radius: 3px;

  h2 {
    position: absolute;
    left: 88px;
    bottom: 16px;
    color: white;
    text-shadow: 2px 2px 3px rgb(150,150,150);
  }
}
.product-details {
  display: flex;
  justify-content: flex-start;
}
.product-info {
  margin-top: 32px;
}
.product-details {
  margin-top: 1em;
}

.details {
  font-weight: 700;
  //margin-left: 56px;
  margin-right: 104px;
}

//only for testing
.avatar-dummy {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: grey;
}
