.card-dress {
  height: 400px;
  width: 100%;
  object-fit: cover;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-dress h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-dress p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-dress .card-dress-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-dress-infos .card-dress-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 45px;
  height: 45px;
}

// Card for dress show page
.product-owner {
  width: 48%;
}

.owner-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}

