
<!-- /navbar -->
  <div class="border-bottom bg-white">
      <div class="container d-flex align-items-center justify-content-between py-2">
        <%= image_tag "logo.png", alt: "Ethnic Attire", width: 200 %>
        <!-- turn this link into a button -->
        <a href="#" class="">Login</a>
      </div>
    </div>

  <!-- Hero / Banner section -->
  <div class="banner" style="url(images/hero.jpeg);">
    <%= image_tag "hero.jpeg", alt: "Ethnic Attire", width: 800, length: 1600 %>
    <div class="container">
      <h1>Flattering Attires for all ocassions</h1>
      <a class="btn-primary" href="#">Rent now</a>
    </div>
  </div>
