<div class="product-img">
<!-- INSERT DRESS.PHOTO.URL AS BACKGROUND AND REMOVE BACKGROUND FROM _SHOW.SCSS -->
<!-- INSERT DRESS.NAME -->
<h2><%= @dress.name %></h2>
</div>

<div class="-container">
  <div class="-row">
    <!-- INSERT CALENDAR FEATURE -->
    <h3>Rental Date</h3>
    <span>Date</span>
    <a href="#" class="btn-rent">Rent now</a>
</div>

<div class="product-info">
  <div class="product-details">
    <div class="details">
      <p>Price</p>
      <p>Category</p>
      <p>Size</p>
      <p>Colour</p>
    </div>
    <!-- @DRESS ITERATION STARTS HERE -->
      <div class="values">
        <p><%= @dress.price %></p>
      </div>
</div>

  <div class="product-owner">
    <div class="owner-head">
      <span>Owner Details</span>
      <div class="avatar-dummy"></div>
    </div>

    <div class="owner-body">
     <p>Hi, my name is Kalinda Sharma, from India. I have several sarees and am happy to rent you for your special occasions. Please contact me if you have questions. Thanks.</p>
      <a href="#" class="btn-contact-owner">Contact the owner</a>
    </div>
  </div>
</div>
</div>
